<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kick The Bucket</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-gray-900">
  <header class="flex justify-between p-2 bg-teal-400">
    <h1>Kick The Bucket</h1>
    <nav class="flex justify-between gap-4">
      <a href="your bucket list">Your List</a>
      <a href="/search">Search</a>
      <a href="log-out">Log Out</a>
    </nav>
  </header>
  <div>
    {{{body}}}
  </div>

  <footer>

  </footer>



  </body>


</html>