<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../public/css/style.css">
</head>
<body>
    <nav>
        <a href="your bucket list"></a>
        <a href="countryprompt"></a>
        <a href="landmarkprompt"></a>
        <a href="log-out"></a>
    </nav>
    <div>
        <h1>Kick the Bucket</h1>
    </div>

    <div>
        

    {{{body}}}

    </div>
    
 <footer>

 </footer>

</body>
</html>