
<div>
    <h2>Register User</h2>
</div>


<div>
    <form>
        <label>Username</label>
        <input placeholder="Please enter a username">
    
        <label>Password</label>
        <input placeholder="Please enter your password">
        
        <button type="submit">Submit</button>
    </form>
</div>