<div>
	<h1>user: {{user.username}}</h1>
    <form class="flex flex-col" action="/results" method="POST">
        <label>Country Name</label>
        <input name="country" type="text" class="px-3 rounded-lg text-black" placeholder="Please enter a Country">

        <label>States/Subdivisions</label>
        <input name="state" type="text" class="px-3 rounded-lg text-black" placeholder="Please enter a States/Subdivisions">

        <label>City/Province</label>
        <input  name="city" type="text" class="px-3 rounded-lg text-black" placeholder="Please enter a City/Province">

        <label>Landmark</label>
        <input name="landmark" type="text" class="px-3 rounded-lg text-black" placeholder="Please enter a Landmark">

        <button class="bg-white text-black rounded-lg my-4 py-1 w-full" type="submit">Submit</button>
    </form>
</div>
